@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

:root {
  --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  user-select: none;
}

.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #4184f0, #f2166e);
  overflow: hidden;
}

.title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin: 0;
  margin-bottom: 8px;
  /* border: 1px solid green; */
}

.app-logo {
  width: 50px;
  margin: 0;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.app-title {
  position: relative;
  font-family: var(--font);
}
  
.app-title h2 {
  color: #fff;
  font-size: 70px;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0;
  margin-left: 90px;
  /* border: 1px solid white; */
}

.app-title h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.app-title h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}
  
@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.app-container {
  height: 90%;
  width: 95%;
  border-top: 5px solid #FEC37C;
  /* border-left: 5px solid #84e0f5; */
  border-bottom: 5px solid #13f03f;
  border-right: 5px solid #13f03f;
  /* background-color: #020312; */
  background-image: linear-gradient(-45deg, #083014, #290425);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* border: 1px solid white; */
  overflow: hidden;
}

.sidebar-box {
  /* border: 1px solid white; */
  width: 16%;
  margin-left: 10px;
}

.welcome-msg {
  background-image: linear-gradient(
  -225deg,
  #231557 0%,
  #44107a 29%,
  #ff1361 67%,
  #fff800 100%
  );
  margin: 0;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear  infinite;
  display: inline-block;
  font-size: 14px;
  width: 300px;
  font-family: var(--font);
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.all-tasks-container {
  /* border: 1px solid green; */
  width: 84%;
  margin-left: 10px;
  padding: 15px;
}

.all-task-list {
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  margin: 0;
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  overflow-y: auto;
  /* height: 78%; */
  max-height: 75%;
  padding: 15px;
  width: 98.4%;
}

/* Scrollbar styles start */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

  /* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  opacity: 0.2;
}

  /* Handle */
::-webkit-scrollbar-thumb {
  background: #27f5dd;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #1ab8a5;
  transition: 0.2s ease-in-out;
}

/* Scrollbar styles end */

.username-search-reminder-avatar-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-reminder-avatar-box {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.user-name {
  font-size: 26px;
  font-weight: 500;
  color: #e02dda;
  margin: 0;
  font-family: 'Courier New';
}

.search-box {
  background-image: linear-gradient(45deg, #3e135e, #093847);
  height: 45px;
  width: 210px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
  justify-content: space-between;
  transition: 0.4s ease-in-out;
}

.search-element {
  height: 100%;
  border: none;
  outline: none;
  width: 85%;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: transparent;
  font-family: var(--font);
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  word-spacing: 1px;
  border-radius: 25px;
}

.search-box:hover {
  width: 400px;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 1px 8px 0px #a30a91;
}

.search-box:hover > .search-element {
  flex-grow: 1;
  margin-right: 15px;
}

.search-icon {
  font-size: 22px;
  color: #8d24f0;
}

.msg-icon {
  font-size: 22px;
  color: #8d24f0;
}


.msg-btn {
  background-color: transparent;
  border: 1px solid #403a3a;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  height: 45px;
  width: 45px;
  margin-left: 30px;
  transition: 0.5s ease-in-out;
}

.msg-btn:hover {
  background-color: #4ced94;
  border-radius: 25px;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 1px 12px 0px #a30a91;
  /* border: none; */
}

.profile-icon {
  font-size: 50px;
  color: #8d24f0;
  margin-left: 30px;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  margin: 0;
  border-radius: 50%;
  margin-left: 30px;
  cursor: pointer;
  object-fit: cover;
}

.category-refresh-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  margin-top: 32px;
}

.category-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-icon {
  color: #ebf5ef;
  font-size: 30px;
  margin-right: 8px;
}

.category-type {
  color: #ebf5ef;
  font-family: var(--font);
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.refresh-btn {
  width: 110px;
  height: 35px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}

.refresh-btn:hover {
  transition: 0.4s ease-in-out;
  background: #4F95DA;
}


.refresh-btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.no-task-view {
  height: 100%;
  width: 100%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-task-img {
  width: 250px;
  transform: rotate(-1deg);
}

.not-found-text {
  font-family: var(--font);
  color: #ffffff;
  font-size: 25px;
}

.seperation-line {
  border: 0;
  height: 1.1px;
  background-image: linear-gradient(to right, #32a871, #32a871, #1b748f);
  margin-top: 10px;
  margin: 0;
  margin-top: 15px;
  box-shadow: 0px 5px 25px 1px #8d24f0;
}

.category-select {
  width: 130px;
  height: 35px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
  color: #fff;
  margin-right: 15px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 18px;
  font-weight: 400;
}

.category-select:hover {
  transition: 0.4s ease-in-out;
  background: #4F95DA;
}

.cat-opt {
  cursor: pointer;
  background-color: black;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  opacity: 0;
  width: 70px;
  height: 16px;
  top: 100%;
  left: 50%;
  margin-left: -21px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  transition: opacity 0.4s ease-in-out;
  margin-top: 7px;
 
  /* Position the tooltip text */
  position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  margin-top: 7px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.refresh-category-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid #fff; */
  width: 380px;
}

.category-text {
  color: #fff;
  margin: 0;
  font-family: var(--font);
  font-size: 25px;
  font-weight: 500;
  text-shadow: -2px 2px 2px #a30a91;
}

/* note pad styles starts */

.note-container {
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* note pad styles ends */


/* badge shake animation styles start */

.shake {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}
.element {
  margin: 0 auto;
  font-size: 25px;
}
@keyframes shake-animation {
   0% { transform:translate(0,0) }
  1.78571% { transform:translate(8px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(8px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(8px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}

/* badge shake animation styles end */

/* reminder styles start */

.reminder-container {
  max-height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.reminder-msg-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font);
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 2px solid #610aad;
}

.reminder-msg {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-left: 10px;
  color: #ad0a46;
}

.table-box {
  max-height: 500px;
  overflow-y: auto;
  /* border: 1px solid red; */
}

table, th, td {
  border: 1px solid #96D4D4;
  border-collapse: collapse;
  padding: 5px;
  font-family: var(--font);
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

td:last-child {
  color: red;
}

th {
  color: #ab0f58;
  font-family: var(--font);
}

#tb2 {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

#tb2 td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}

.no-pending-box {
  border: 1px solid #96D4D4;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-pending-text {
  font-family: var(--font);
  color: #0dba4f;
  font-weight: 500;
}

/* reminder styles ends */

.logout-btn {
  font-size: 50px;
  margin-left: 25px;
  color: #a80f3d;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.logout-btn:hover {
  scale: 1.1;
  transition: 0.4s ease-in-out;
}

.profile-modal {
  background-image: url('https://res.cloudinary.com/duzlefgz6/image/upload/v1689080438/1600w-vJDFhbySuuU-PhotoRoom_by7wvc.jpg');
  background-size: cover;
  box-sizing: border-box;
  height: 450px;
  width: 680px;
  position: relative;
  top: 41%;
  left: 77%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 10px;
  outline: none;
  display: flex;
  flex-direction: column;

  .arrow {
    position: absolute;
    top: -29px;
    left: 548px;
    font-size: 50px;
    color: #235f63;
    margin: 0;
  }
}

.logout-dialog {
  background-color: #fff;
  box-sizing: border-box;
  height: 160px;
  width: 320px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 10px;
  outline: none;
  display: flex;
  flex-direction: column;
}

.tasks-loader-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}